html {
  color-scheme: light dark;
  touch-action: manipulation;
}

html,
body {
  height: 100dvh;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[hidden] {
  display: none !important;
}
